version: '3.3'
services:
  bbb-streamer:
    image: aauzid/bigbluebutton-livestreaming
    container_name: liveStreaming
    environment:
      # BigBlueButton Server url:
      - BBB_URL=https://visavis.live/bigbluebutton/api
      # BigBlueButton secret:
      - BBB_SECRET=wuEWZryH81zNvLYjphgoo0lw4rBrYFZg1NI8Hj1Dw
      # BigBlueButton meetingID:
      - BBB_MEETING_ID=lkcl2enoot6vbzipp5hr9wgq9pdcmqsbuqny84pf
      # Media server url:
      - BBB_STREAM_URLrtmps://live-api-s.facebook.com:443/rtmp/3244718178884263?s_bl=1&s_sc=3244718205550927&s_sw=0&s_vt=api-s&a=AbxkhmgnRJt-GhMk
      # Timezone (default: Europe/Vienna):
      - TZ=Europe/Vienna

    volumes:
      - ./videodata:/video
